<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Beyoncé</h1>
<a href="https://www.instagram.com/beyonce/?hl=en">
          <img src= "https://peopledotcom.files.wordpress.com/2017/09/beyonce12.jpg"alt="Beyoncé's Instagram" width=500/>
          </a>