<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Beyoncé</h1>
<a href="https://www.instagram.com/beyonce/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC2HNPGAZ/image.png"alt="Beyoncé's Instagram" width=500/>
          </a>