<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Chrissy Teigen</h1>
<a href="https://www.instagram.com/chrissyteigen/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC29NKRPD/image.png"alt="Chrissy's Instagram" width=500/>
          </a>