<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Chrissy Teigen</h1>
<a href="https://www.instagram.com/chrissyteigen/?hl=en">
          <img src= "https://www.fashiongonerogue.com/wp-content/uploads/2015/12/Chrissy-Teigen-Vogue-Thailand-January-2016-Cover-Photoshoot02.jpg"alt="Chrissy's Instagram" width=500/>
          </a>