<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Chris Hemsworth</h1>
<a href="https://www.instagram.com/chrishemsworth/?hl=en">
          <img src= "https://i.pinimg.com/originals/24/b0/da/24b0dafea45eeb1de7332fc511c99166.png"alt="Chris's Instagram" width=500/>
          </a>