<!--This is where your HTML for your home page goes -->
<body>
  <head>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <h1><strong>Welcome to CelebCrush</strong></h1>
     <div id="introduction">
    <h2><strong>Where you can find out more about celebirties and take a quiz to find out which one is right for you!</strong></h2>
      </head>
</body>
       
       <ul class="tabs">
    <li class="tab">
        <input type="radio" name="tabs" checked="checked" id="tab1" />
        <label for="tab1">Boy Quiz</label>
        <div id="tab-content1" class="content">
          <h1>Welcome to the Celebrity Boys Quiz!</h1>
          <hr/>
          <h3>Where you can find your right Celebrity Crush!</h3>
            <meta charset="UTF-8">
   
      <form action="/results" method="post">
      <h2>What is your ideal Saturday Night?</h2>
        <input type="radio" name="SN" value="1">Netflix and Pizza<br>
        <input type="radio" name="SN" value="2">Clubbing<br>
        <input type="radio" name="SN" value="3">Doing a Hobby<br>
        <input type="radio" name="SN" value="4">Surfing<br>
        <input type="radio" name="SN" value="5">Hanging out with a dog
        
        <h2>What is your hobby?</h2>
        <input type="radio" name="hobby" value="1">Reading<br>
        <input type="radio" name="hobby" value="2">Improv<br>
        <input type="radio" name="hobby" value="3">Playing Video Games<br>
        <input type="radio" name="hobby" value="4">Surfing<br>
        <input type="radio" name="hobby" value="5">Gymnastics
        
            <h2>What is your favorite color?</h2>
        <input type="radio" name="color" value="1">Blue<br>
        <input type="radio" name="color" value="2">Navy<br>
        <input type="radio" name="color" value="3">Green<br>
        <input type="radio" name="color" value="4">Black<br>
        <input type="radio" name="color" value="5">Light Blue
        
               <h2>Where would you like to visit?</h2>
        <input type="radio" name="destination" value="1">Texas<br>
        <input type="radio" name="destination" value="2">California<br>
        <input type="radio" name="destination" value="3">Canada<br>
        <input type="radio" name="destionation" value="4">Australia<br>
        <input type="radio" name="destination" value="5">United Kingdom
        
              <h2>What's your favorite genre of music?</h2>
        <input type="radio" name="music" value="1">Top Hits<br>
        <input type="radio" name="music" value="2">Hip-Hop<br>
        <input type="radio" name="music" value="3">Alternative<br>
        <input type="radio" name="music" value="4">Rock<br>
        <input type="radio" name="music" value="5">Pop
        
            <h2>What's your ideal date?</h2>
        <input type="radio" name="date" value="1">Staying in and watching a movie<br>
        <input type="radio" name="date" value="2">Watching a Broadway show<br>
        <input type="radio" name="date" value="3">going to a movie and eating at a restaurant<br>
        <input type="radio" name="date" value="4">Going to a beach<br>
        <input type="radio" name="date" value="5">Working out together at a gym
        
                  <h2>What's your favorite TV show or movie?</h2>
        <input type="radio" name="tv" value="1">Juno<br>
        <input type="radio" name="tv" value="2">The Goonies<br>
        <input type="radio" name="tv" value="3">The 100<br>
        <input type="radio" name="tv" value="4">We Can Be Heroes<br>
        <input type="radio" name="tv" value="5">Saving Private Ryan
        <br>
        
        
       
          <button type = "submit" class="new"> Let's Find Your Crush! </button>
      </form>
          <br/>
        </div>
        
      
           </li>
           
    
    <li class="tab">
      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2">Girl Quiz</label>   
      <div id="tab-content2" class="content">
          <h1>Welcome to the Celebrity Girls Quiz!</h1>
          <hr/>
          <h3>Where you can find your right Celebrity Crush!</h3>
          
            <meta charset="UTF-8">
   
      <form action="/res" method="post">
      <h2>What is your ideal Saturday Night?</h2>
        <input type="radio" name="SN" value="1">Dancing<br>
        <input type="radio" name="SN" value="2">Staying In<br>
        <input type="radio" name="SN" value="3">Cooking<br>
        <input type="radio" name="SN" value="4">Walking On A Beach<br>
        <input type="radio" name="SN" value="5">Painting
        
        <h2>What is your hobby?</h2>
        <input type="radio" name="hobby" value="1">Singing<br>
        <input type="radio" name="hobby" value="2">Swimming<br>
        <input type="radio" name="hobby" value="3">Cooking<br>
        <input type="radio" name="hobby" value="4">Coding<br>
        <input type="radio" name="hobby" value="5">Poetry
        
            <h2>What is your favorite color?</h2>
        <input type="radio" name="color" value="1">Pink<br>
        <input type="radio" name="color" value="2">Gold<br>
        <input type="radio" name="color" value="3">Purple<br>
        <input type="radio" name="color" value="4">Blue<br>
        <input type="radio" name="color" value="5">Red
        
               <h2>Where would you like to visit?</h2>
        <input type="radio" name="destination" value="1">California<br>
        <input type="radio" name="destination" value="2">Texas<br>
        <input type="radio" name="destination" value="3">Utah<br>
        <input type="radio" name="destionation" value="4">Illinois<br>
        <input type="radio" name="destination" value="5">Pennsylvania
        
              <h2>What's your favorite genre of music?</h2>
        <input type="radio" name="music" value="1">Pop<br>
        <input type="radio" name="music" value="2">R&B<br>
        <input type="radio" name="music" value="3">Jazz<br>
        <input type="radio" name="music" value="4">Classical<br>
        <input type="radio" name="music" value="5">Indie
        
            <h2>What's your ideal date?</h2>
        <input type="radio" name="date" value="1">going to a movie and eating at a restaurant<br>
        <input type="radio" name="date" value="2">Going on a Picnic<br>
        <input type="radio" name="date" value="3">Staying in and watching movies<br>
        <input type="radio" name="date" value="4">Snorkeling<br>
        <input type="radio" name="date" value="5">Walking in a park
        
                  <h2>What's your favorite TV show or movie?</h2>
        <input type="radio" name="tv" value="1">The Titanic<br>
        <input type="radio" name="tv" value="2">Sparkle<br>
        <input type="radio" name="tv" value="3">The Housewives<br>
        <input type="radio" name="tv" value="4">Clueless<br>
        <input type="radio" name="tv" value="5">Law & Order
        <br>
        
        
       
          <button type = "submit" class="new"> Let's Find Your Crush! </button>
      </form>
          <br/>
        </div>
         </li>
       
        
    <li class="tab">
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3"> Biographies</label>
        <div id="tab-content3" class="content">
          <h1>All About 10 Celebs</h1>
          <hr/>
          <h2>Zac Efron</h2>
          <a href="https://www.instagram.com/zacefron/?hl=en">
          <img src= "https://i.pinimg.com/736x/81/eb/24/81eb241c6e3b51697c24f9b155bb7b8d.jpg"alt="Zac's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Zac Efron was born in San Luis Obispo, California on October 18th, 1987. Efron started acting in the early 2000s, but rose to fame when the first High School Musical came out, his role as Troy Bolton. After that, he appeared in more films, such as Hairspray, 17 Again, Baywatch, and The Greatest Showman.</strong></p>
         
          <h2>Zendaya</h2>
          <a href="https://www.instagram.com/zendaya/?hl=en">
          <img src= "https://i.pinimg.com/736x/d7/ed/9b/d7ed9b1095abd96cf34ffbf0e7d2a3e0--zendaya-fashion-zendaya-style.jpg"alt="Zendaya's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Zendaya Stoermer Coleman was born in Oakland, California on September 1st, 1996. Commonly known more as Zendaya, she is an American actress and singer. She began her career appearing as a child model and backup dancer, before gaining prominence for her role as Rocky Blue on the Disney Channel sitcom Shake It Up. After that, she appeared in the shows K.C Undercover and Dancing With the Stars. Zendaya was also in The Greatest Showman, Spiderman Homecoming, Zapped, Frenemies, and The Pixie Hollow Games. </strong></p>
          
          <h2>Tom Holland</h2>
          <a href="https://www.instagram.com/tomholland2013/?hl=en">
           <img src= "https://i.pinimg.com/736x/26/01/38/26013849707eac67e488894b676e4a60--tom-holland-spider-man.jpg"alt="Tom's Instagram" width=300/>
           </a>
          <br/>
          <p><strong>Thomas Holland is an English actor and dancer. Tom was born in Kingston upon Thames, United Kingdom on June 1st, 1996. He is best known for playing Spider-Man in the Marvel Cinematic Universe films Captain America: Civil War, Spider-Man: Homecoming, and Avengers: Infinity War. </strong></p>
           
          <h2>Taylor Swift</h2>
          <a href="https://www.instagram.com/taylorswift/?hl=en">
          <img src= "http://3.bp.blogspot.com/-2srYuQDZnlc/Tl9Vm0p2MfI/AAAAAAAAAaQ/ECbeZYbe-_g/s1600/Taylor-Swift-songs-about-lyrics-love-story-hairstyle+%25286%2529.jpg"alt="Taylor's Instagram"  width=300/>
          </a>
          <br/>
          <p><strong>Taylor Swift is an American singer-songwriter. She was born in Reading, Pennsylvania on December 13th, 1989.  One of the world's leading contemporary recording artists, she is known for narrative songs about her personal life, which have received widespread media coverage. Did you know: Taylor Swift (@taylorswift) is the ninth-most-followed user on Instagram (110 million followers).  </strong></p>
          
          <h2>Shawn Mendes</h2>
          <a href="https://www.instagram.com/shawnmendes/?hl=en">
          <img src= "https://i.pinimg.com/736x/c9/13/b3/c913b371da901e3a85f553c4504f87b7--shawn-mendes-baby-shawn-mendes-cute-smile.jpg"alt="Shawn's Instagram" width=300/>
          </a>
          <br/>
          <p><strong> Shawn Mendes is a Canadian singer and songwriter. He gained a following in 2013, posting song covers on the video-sharing application Vine. He was born in Toronto, Canada on August 8th, 1998.</strong></p>
          
          <h2> Chrissy Teigen</h2>
          <a href="https://www.instagram.com/chrissyteigen/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC1C85ZJ8/image.png"alt="Chrissy's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Christine Teigen is an American model and author. Chrissy was born in Delta, Utah on November 30th, 1985. She made her debut in the annual Sports Illustrated Swimsuit Issue in 2010 and, alongside Nina Agdal and Lily Aldridge, appeared on the cover in 2014. She is married to John Legend.</strong></p>
          
          <h2>Chris Hemsworth</h2>
          <a href="https://www.instagram.com/chrishemsworth/?hl=en">
          <img src= "https://static01.nyt.com/images/2017/02/26/travel/26qanda/26qanda-articleLarge.jpg?quality=75&auto=webp&disable=upscale"alt="Chris's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Christopher Hemsworth is an Australian actor. He rose to prominence playing Kim Hyde in the Australian TV series Home and Away. He was born Melbourne, Australia on August 11th, 1983. Chris is married to Elsa Pataky.</strong></p>
           
          <h2>Beyoncé</h2>
          <a href="https://www.instagram.com/beyonce/?hl=en">
          <img src= "https://i.pinimg.com/originals/ff/0b/a2/ff0ba2731c57753bed8c276fc9ea3d89.jpg"alt="Beyoncé's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Beyoncé Knowles-Carter was born on September 4th, 1981 and is an American singer, songwriter, dancer, actress, and businesswoman. Born and raised in Houston, Texas, Beyoncé performed in various singing and dancing competitions as a child. She is married to Shawn Carter (Jay-Z). Did you know: Beyoncé (@beyonce) is the fifth-most-followed user on Instagram (116 million followers).</strong></p>
          
            <h2>Nick Jonas</h2>
            <a href="https://www.instagram.com/nickjonas/?hl=en">
          <img src= "https://i.pinimg.com/originals/f1/68/29/f168295ae2d996f2b416f44d2261c089.jpg"alt="Nick's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Nicholas Jonas is an American singer, songwriter, actor, and record producer. He was born in Dallas, Texas on September 16th, 1992. Jonas began acting in theater at the age of seven, and released his debut single in 2002. Nick is engaged to Priyanka Chopra.</strong></p>
           
            <h2>Karlie Kloss</h2>
            <a href="https://www.instagram.com/karliekloss/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC0TMU5KJ/image.png"alt="Karlie's Instagram" width=300/>
          </a>
          <br/>
          <p><strong>Karlie Kloss is an American model and entrepreneur. Karlie was born in Chicago, Illinois on August 3rd, 1992. She has been a Victoria's Secret Angel since 2011, taking a two-year hiatus in 2015 and 2016 to study at New York University. Karlie is engaged to Josh Kushner.</strong></p>
          
          
        </div>
      </li>
           
    </ul>
         