<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Karlie Kloss</h1>
<a href="https://www.instagram.com/karliekloss/?hl=en">
          <img src= "https://i.pinimg.com/736x/6d/5e/8c/6d5e8cff99775fd721963fbdc993225f.jpg"alt="Karlie's Instagram" width=500/>
          </a>