<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Karlie Kloss</h1>
<a href="https://www.instagram.com/karliekloss/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC3EQ21P1/image.png"alt="Karlie's Instagram" width=500/>
          </a>