<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Nick Jonas</h1>
<a href="https://www.instagram.com/nickjonas/?hl=en">
          <img src= "https://files.slack.com/files-pri/TB200QLDV-FC2HPTHSR/image_from_ios.jpg"alt="Nick's Instagram" width=500/>
          </a>