<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Shawn Mendes</h1>
<a href="https://www.instagram.com/shawnmendes/?hl=en">
          <img src= "https://scontent-ort2-1.cdninstagram.com/vp/3c55ede5ae999d1ded59606670f9df71/5C0B3411/t51.2885-15/sh0.08/e35/p640x640/24846070_815039412034324_6016435448602165248_n.jpg"alt="Shawn's Instagram" width=500/>
          </a>