<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Taylor Swift</h1>
<a href="https://www.instagram.com/taylorswift/?hl=en">
          <img src= "https://i.pinimg.com/originals/37/3a/47/373a477cc18f3eb7f936e58a9041c9aa.png"alt="Taylor's Instagram"  width=500/>
          </a>
