<link href="/css/styles.css" type="text/css" rel="stylesheet">
<h1>You got Zac Efron</h1>
<a href="https://www.instagram.com/zacefron/?hl=en">
          <img src= "http://iv1.lisimg.com/image/16451293/740full-zac-efron.jpg"alt="Zac's Instagram" width=500/>
          </a>x