/*This is your CSS file */
html, body {
  margin: 2; 
  padding: 0;
}
h1, h3 {
  font-family: Marker Felt, fantasy;
  font-weight: 100;
  color: black ;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  background: url(http://www.kinyu-z.net/data/wallpapers/219/1471681.jpg) center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
}


.tabs{
    width: 600px;
    display: block;
    margin: 40px auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color:white;
    background: Crimson; 
}
  

.tabs .content {
    z-index: 0;
    overflow: hidden;
    width: 600px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background:turquoise;
    color: Black;
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: DeepSkyBlue;
    color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;
    opacity: 1;
    transition: opacity 400ms ease-out;
}


